<footer class="footer">
  <div class="footer__container _container">
    <div class="footer__body">
      <div class="footer__copyright">CHAINCHACKER©2021</div>
      <div class="footer__socials">
        <span class="footer__contact">contact</span>
        <ul class="footer__list">
          <li><a href="#" class="footer__item"><picture><source srcset="{{ site.url }}/assets/img/footer/twitter.svg" type="image/webp"><img src="img/footer/twitter.svg?_v=1634045914605" alt=""></picture></a></li>
          <li><a href="#" class="footer__item"><picture><source srcset="{{ site.url }}/assets/img/footer/facebook.svg" type="image/webp"><img src="img/footer/facebook.svg?_v=1634045914605" alt=""></picture></a></li>
          <li><a href="#" class="footer__item"><picture><source srcset="{{ site.url }}/assets/img/footer/instagram.svg" type="image/webp"><img src="img/footer/instagram.svg?_v=1634045914605" alt=""></picture></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
