<head>
  <title>{{ page.title }}</title>
  <meta charSet="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/style.min.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/texts.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">

<!--  Выбор стиля строкой ниже-->
  <link rel="stylesheet" href="{{ site.url }}/assets/styles/Atom-One-Dark.css">

  <link rel="shortcut icon" href="favicon.ico">
  <!-- <meta name="robots" content="noindex, nofollow"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>