<header class="header">
  <div class="header__container _container">
    <div class="header__body">
      <div class="header__up">
        <a data-da=".header__up-add,545,first" href="/blog" class="header__link">[ BLOG ]</a>
        <h1 class="header__logo _small-shadow"><a href="./">CHAINCHACKER</a></h1>
        <a data-da=".header__up-add,545,last" href="mycode" class="header__link">[ ABOUT ME ]</a>
        <div class="header__up-add">

        </div>
      </div>
      <div class="header__down">
        <div class="header__alert _text-typing">> alert cool idea</div>
      </div>
    </div>
  </div>
</header>
