<div class="tabs-block__group">
  <div class="tabs-block _tabs">
    <nav class="tabs-block__nav">
      <div class="tabs-block__item _active _tabs-item">C:\Hacker\page1</div>
      <div class="tabs-block__item _tabs-item">C:\Hacker\page2</div>
      <div class="tabs-block__item _tabs-item">C:\Hacker\page3</div>
      <div class="tabs-block__item _tabs-item">C:\Hacker\page4</div>
      <div class="tabs-block__item _tabs-item">C:\Hacker\page5</div>
    </nav>
    <div class="tabs-block__body">
      <div class="tabs-block__block _tabs-block _active">
        <picture><source srcset="img/tabs/2.webp" type="image/webp"><img src="img/tabs/2.jpg?_v=1634065930035" alt=""></picture>
      </div>
      <div class="tabs-block__block _tabs-block">
        <picture><source srcset="img/tabs/1.webp" type="image/webp"><img src="img/tabs/1.jpg?_v=1634065930035" alt=""></picture>
      </div>
      <div class="tabs-block__block _tabs-block">
        <picture><source srcset="img/tabs/2.webp" type="image/webp"><img src="img/tabs/2.jpg?_v=1634065930035" alt=""></picture>
      </div>
      <div class="tabs-block__block _tabs-block">
        <picture><source srcset="img/tabs/1.webp" type="image/webp"><img src="img/tabs/1.jpg?_v=1634065930035" alt=""></picture>
      </div>
      <div class="tabs-block__block _tabs-block">
        <picture><source srcset="img/tabs/2.webp" type="image/webp"><img src="img/tabs/2.jpg?_v=1634065930035" alt=""></picture>
      </div>
    </div>
  </div>
</div>